{% for category in categories %}
  <li>
    <a class="dropdown-item py-1"
       href="{{ path('user.category.recipes_by_category', { slug: category.slug }) }}">
       {{ category.name }}
    </a>
  </li>
{% endfor %}